<div class="container-fluid">

  <div>
    <%= image_tag @product.avatar.url(:medium) %>
  </div>
  <h2><%= @product.name %></h2>
  <p>
    By <strong><%= @product.brand.try(:name) %></strong>
  </p>

  <h4>
    Price: <strong id="prices"><%= number_to_currency @product.current_price %></strong>
  </h4>

<!--   <p>
    <strong>Quantity:</strong>
    <%= @product.quantity %>
  </p>
 -->
  <p><strong>About <%= @product.name %>:</strong></p>

  <div class="well well-sm">
  <%= @product.description %>
  </div>

  <p>
    <strong>Category:</strong>
    <%= @product.category.try(:name) %>
  </p>
</div>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>